@import "tailwindcss";

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active {
  text-decoration: underline;
  color: rgb(17, 218, 17);
}
.prev,
.nxt {
  background-color: black;
  color: white;
  padding: 5px 0;
  width: 100px;
  border-radius: 30px;
  border: 0;
}
.prev:focus,
.nxt:focus {
  background-color: rgb(50, 209, 50);
  color: black;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pagination li {
  list-style: none;
}
.search {
  padding: 5px 10px;
}
.search:focus {
  outline: 2px solid rgb(49, 216, 49);
  border: 1px solid rgb(49, 216, 49);
}
